body{
  margin: 0;
  align-items: center;
  background: pink;
}

.middle-container {
  width: 33.33vw;
  min-height: 200px;

  margin: 100px auto; /* centers horizontally */
  padding: 20px;

  box-sizing: border-box;
  border: 2px solid black;
}